<div style="font-family:Arial">
        <div style="text-align:center;display:block">
            <div style="max-width:328px;margin:0;padding:0;display:inline-block">
                <div style="margin-bottom:40px">
                    <img src="https://ci5.googleusercontent.com/proxy/rPj1JmzH5oYxf2YO-ANEAXZ5r-R-5NfX35m-H2CbPGuD9doZO-x5WZWLBp-0W9pHywDROMtySexm2E8MChbvT4tqIBrc3EDsgtgE4pgFce9x4A=s0-d-e1-ft#https://s3.brimo.bri.co.id/brimo-asset/email-notif/building.png" style="max-width:328px" class="CToWUd a6T" data-bit="iit" tabindex="0"><div class="a6S" dir="ltr" style="opacity: 0.01; left: 591px; top: 109px;"><div id=":r4" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" title="Download" role="button" tabindex="0" aria-label="Download lampiran " jslog="91252; u014N:cOuCgd,Kr2w4b,xr6bB; 4:WyIjbXNnLWY6MTc4MDA5NDAyNzQzODUxNDE1NCIsbnVsbCxbXSxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxbXSxbXSxbXSxudWxsLG51bGwsbnVsbCxudWxsLFtdXQ.." data-tooltip-class="a1V" jsaction="JIbuQc:.CLIENT"><div class="akn"><div class="aSK J-J5-Ji aYr"></div></div></div></div>
                </div>


                <div style="margin:0px 8.5px 0px 8.5px">
                    <div style="margin-bottom:8px;font-weight:700;font-size:18px;text-align:left">Halo, Fikri Yogi</div>
                    <div style="margin-bottom:16px;text-align:left">Berikut kode <span class="il">OTP</span> yang digunakan untuk verifikasi:</div>
                    <div style="background:#eef2f6;border-radius:8px;width:100%;padding:10px 0px;margin-top:24px;margin-bottom:24px;border:none;text-decoration:none"><p style="height:20px;font-style:normal;font-weight:700;font-size:16px;line-height:20px;text-align:center;color:#00529c;margin:0px 0px">356375</p></div>
                    <div style="margin-bottom:16px;text-align:left">Kode diatas hanya berlaku selama 3 menit. Harap segera masukan kode tersebut pada aplikasi BRImo.</div>
                    <div style="margin-bottom:16px;text-align:left">Demi menjaga kerahasiaan data kamu, mohon jangan membagikan kode <span class="il">OTP</span> ke siapapun.</div>


                    <div style="margin:32px 0px 32px 0px;width:100%;height:2px;background-color:#eef2f6"></div>


                    <div>
                        <div style="margin-bottom:8px;font-style:normal;font-weight:700;font-size:14px;line-height:20px;text-align:left">Download Aplikasi BRIMo</div>
                        <div style="margin-bottom:32px;text-align:left">
                            <a href="https://apps.apple.com/id/app/brimo-bri/id1439730817" style="text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://apps.apple.com/id/app/brimo-bri/id1439730817&amp;source=gmail&amp;ust=1698869492186000&amp;usg=AOvVaw27XFbdTEkJuw6Ov-QkMfYz">
                                <img src="https://ci4.googleusercontent.com/proxy/kw7HxcGlyPgeclgW0AIVrFlDgyqZL6B5UyF8ujEzR_b7Zgt60CAmar5Qhp5qXlbThYtIdd0-JqPT9uPdR4BZRpBlwyd9eCu9zP6jCqYjBsJGcg=s0-d-e1-ft#https://s3.brimo.bri.co.id/brimo-asset/email-notif/appstore.png" style="min-height:32px;max-height:32px" class="CToWUd" data-bit="iit">
                            </a>
                            <a href="https://play.google.com/store/apps/details?id=id.co.bri.brimo&amp;hl=en&amp;gl=US" style="text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://play.google.com/store/apps/details?id%3Did.co.bri.brimo%26hl%3Den%26gl%3DUS&amp;source=gmail&amp;ust=1698869492186000&amp;usg=AOvVaw3gBT2iceXHbzPVMyCNekDe">
                                <img src="https://ci6.googleusercontent.com/proxy/6kKXQgGeGdIZDVJWdr86z7IyQKQeZXwqQRwLvGqNRUUE7ZrpBmCCT9YieNmwaRCHthe8H0kXzAePN0YRYhGaSbpFGvogJ9cu8gtmGrlxzQ=s0-d-e1-ft#https://s3.brimo.bri.co.id/brimo-asset/email-notif/gplay.png" style="min-height:32px;max-height:32px" class="CToWUd" data-bit="iit">
                            </a>
                        </div>
                    </div>


                    <div>
                        <div style="margin-bottom:8px;font-style:normal;font-weight:700;font-size:14px;text-align:left">Hubungi Kami</div>
                        <div style="text-align:left">
                            Kontak BRI <a href="tel:+6214017" style="text-decoration:none" target="_blank">14017</a>/<a href="tel:+621500017" style="text-decoration:none" target="_blank">1500017</a><br>
                            Email BRI <a href="mailto:callbri@bri.co.id" style="text-decoration:none" target="_blank">callbri@bri.co.id</a>
                        </div>
                    </div>
                </div>


                <div style="margin-top:40px;background:#eef2f6;padding:16px 0px 16px 0px">
                    <div style="text-align:center;margin:0px 16px 16px 16px;font-style:normal;font-weight:500;font-size:12px"> Email ini dikirim secara otomatis dan harap tidak membalas email ini.</div>
                    <div style="text-align:center;margin:0px 16px 0px 16px;font-style:normal;font-weight:500;font-size:12px"> © 2022 PT.Bank Rakyat Indonesia (Persero) Tbk. All Rights Reserved. </div>
                </div>
            </div>
        </div>
    </div>