<div>


    <table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0" id="m_-652695588854552870backgroundTable">
        <tbody>
        <tr>
            <td>
                <table width="600" cellpadding="0" cellspacing="0" border="0" align="center">
                    <tbody>
                    <tr>
                        <td width="100%">
                            <table bgcolor="#ffffff" width="600" cellpadding="0" cellspacing="0" border="0" align="center">
                                <tbody>
                                <tr>
                                    <td>
                                        <table width="560" align="center" cellpadding="0" cellspacing="0" border="0">
                                            <tbody>
                                            
                                            <tr>
                                                <td align="center"><img src="https://ci6.googleusercontent.com/proxy/pYFHITRPqvhJTw_S-07ijzWoaEBQAzRP2pEx0td9IIihdWyPRk-YTRHGwEkm3CIgZtGxN3yi13JhXCixF_4piF9xAjvOdFZqQX0jD1E=s0-d-e1-ft#https://cf.shopee.sg/file/0cd023d64f04491f3dc8076d6932dfdc" width="140" height="auto" style="width:25%;height:auto" class="CToWUd" data-bit="iit"></td>
                                            </tr>
                                            
                                            
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>



<table width="560" align="center" cellpadding="0" cellspacing="0" border="0">
    <tbody>
    
<tr>
    <td style="font-family:Helvetica,arial,sans-serif;font-size:13px;color:#000000;text-align:center;line-height:18px">
        Hai ,
    </td>
</tr>

    
    <tr>
        <td width="100%" height="10" style="font-size:1px;line-height:1px">&nbsp;</td>
    </tr>

    <tr>
        <td style="font-family:Helvetica,arial,sans-serif;font-size:13px;color:#000000;text-align:center;line-height:18px">
            Kode Verifikasi (<span class="il">OTP</span>) Shopee kamu:
        </td>
    </tr>
    
    <tr>
        <td width="100%" height="10" style="font-size:1px;line-height:1px">&nbsp;</td>
    </tr>

    <tr>
        <td style="font-family:Helvetica,arial,sans-serif;font-size:40px;color:#ee4d2d;text-align:center;line-height:100px;letter-spacing:18px">
            <b>880291</b>
        </td>
    </tr>
    
    <tr>
        <td width="100%" height="10" style="font-size:1px;line-height:1px">&nbsp;</td>
    </tr>

    <tr>
        <td style="font-family:Helvetica,arial,sans-serif;font-size:13px;color:#000000;text-align:center;line-height:18px">
            Berlaku selama 15 menit. JANGAN BERI kode ini ke siapa pun, TERMASUK SHOPEE.
        </td>
    </tr>
    </tbody>
</table>

<table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0" id="m_-652695588854552870backgroundTable">
    <tbody>
    <tr>
        <td>
            <table width="600" cellpadding="0" cellspacing="0" border="0" align="center">
                <tbody>
                <tr>
                    <td width="100%">
                        <table bgcolor="#ffffff" width="600" cellpadding="0" cellspacing="0" border="0" align="center">
                            <tbody>
                            
                            <tr>
                                <td height="10" style="font-size:1px;line-height:1px">&nbsp;</td>
                            </tr>
                            

                            <tr>
                                <td>
                                    <table width="560" align="center" cellpadding="0" cellspacing="0" border="0">
                                        <tbody>
                                        <tr><td style="font-family:Helvetica,arial,sans-serif;font-size:13px;color:#000000;text-align:center;line-height:18px">
                                                Ayo, Belanja di Shopee!
                                            </td></tr>
                                        <tr>
                                            <td width="100%" height="5" style="font-size:1px;line-height:1px">&nbsp;</td>
                                        </tr>
                                        <tr><td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tbody><tr>
                                                <td width="160"></td>
                                                <td width="130"><a href="https://play.google.com/store/apps/details?id=com.shopee.id" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://play.google.com/store/apps/details?id%3Dcom.shopee.id&amp;source=gmail&amp;ust=1698869492651000&amp;usg=AOvVaw35jEVgIItpc1btmP-o6223"><img src="https://ci3.googleusercontent.com/proxy/wMyUGP_9zlO1kmTJ1wI6w5tG3QYq6dXydCJg0ePOV7p6DUBeZlw99BuZZlU0LOW8jD20PqkxMfCK8ZAGJ7m0OnXAWokK0I08RWyEqio=s0-d-e1-ft#https://cf.shopee.sg/file/cacc3e27277d02501b0989fdcbaf18e9" width="130" style="width:130px" class="CToWUd" data-bit="iit"></a></td>
                                                <td width="5"></td>
                                                <td width="130"><a href="https://apps.apple.com/id/app/id959841443" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://apps.apple.com/id/app/id959841443&amp;source=gmail&amp;ust=1698869492651000&amp;usg=AOvVaw3i62F_1bOBLBHm14JXmbGV"><img src="https://ci5.googleusercontent.com/proxy/QL-v7elCQEI_UfK0bI8s2Ao8TVj7pEBorNit381WqoEd5N9eGa4_wJTlep4n0Qex9vDeO83sinIwTPk1Ke5WyhSWXaEd9vGIfYuYSE8=s0-d-e1-ft#https://cf.shopee.sg/file/5b4dcec6c9c60950954b465bafee9cff" width="130" style="width:130px" class="CToWUd" data-bit="iit"></a></td>
                                                <td width="160"></td>
                                            </tr>
                                        </tbody></table>
                                        
                                        </td></tr><tr>
                                            <td width="100%" height="5" style="font-size:1px;line-height:1px">&nbsp;</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>

<div style="width:100%;height:5px;display:block" align="center">
    <div style="width:100%;max-width:600px;height:1px;border-top:1px solid #e0e0e0">
    </div>
</div>


<table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0" id="m_-652695588854552870backgroundTable">
    <tbody>
    <tr>
        <td>
            <table width="600" cellpadding="0" cellspacing="0" border="0" align="center">
                <tbody>
                <tr>
                    <td width="100%">
                        <table bgcolor="#ffffff" width="600" cellpadding="0" cellspacing="0" border="0" align="center">
                            <tbody>
                            <tr>
                                <td>
                                    <table width="560" align="center" cellpadding="0" cellspacing="0" border="0">
                                        <tbody>
                                        <tr>
                                            <td colspan="5" height="10" style="font-size:1px;line-height:1px;text-overflow:ellipsis;color:#ffffff">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td width="112"></td>
                                            <td width="112" align="center">
                                                <a href="https://www.facebook.com/ShopeeID" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.facebook.com/ShopeeID&amp;source=gmail&amp;ust=1698869492651000&amp;usg=AOvVaw0CgjjY4Nhp0MIFov4_B5Hu"><img src="https://ci3.googleusercontent.com/proxy/ZAMWMy2h8H1T9U-n9cKrywcZMowU7HGBgsW60ppcLZhTm0Et6x006D__Eg5MU_nymArZ4P-KahqPBkozNOUBAwPh49rUi9xtRZ1q7A=s0-d-e1-ft#https://f.shopee.sg/file/3814109aa6a3721b577919d5c8a36cfe" width="40" style="height:40px;width:40px" class="CToWUd" data-bit="iit"></a>
                                            </td>
                                            <td width="112" align="center">
                                                <a href="https://www.instagram.com/shopee_id" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.instagram.com/shopee_id&amp;source=gmail&amp;ust=1698869492651000&amp;usg=AOvVaw3BalnjcC88CQIzeAOfhtHf"><img src="https://ci6.googleusercontent.com/proxy/pX1avZ3xttx5eI3Pzufh9tapusOVMGXuZGyH7jhY6P8LJGfZLRMafC8MS51E_4XAkXJdTvi1LtS67-gXjtkEkNoRY3LV15SK6VxH5A=s0-d-e1-ft#https://f.shopee.sg/file/3b08ded58cbbb9beb74ec4d5ad4c7d53" width="40" style="height:40px;width:40px" class="CToWUd" data-bit="iit"></a>
                                            </td>
                                            <td width="112" align="center">
                                                <a href="https://shopee.co.id/youtube" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://shopee.co.id/youtube&amp;source=gmail&amp;ust=1698869492652000&amp;usg=AOvVaw0Sgg3e-A0WuiZOqYQ6JUpc"><img src="https://ci3.googleusercontent.com/proxy/qFJz0coveqY6pC_KqKpGuOsGvEE5mHrUVO35lmGLPmoJWCp66WvIRk8Tu5J-RpRbygqXSOTkj645s34Ticzxs_OPbMhf8e079bRTfQ=s0-d-e1-ft#https://f.shopee.sg/file/e7ab71dae1223ca9eb4b9f120353a31e" width="40" style="height:40px;width:40px" class="CToWUd" data-bit="iit"></a>
                                            </td>
                                            <td width="112"></td>
                                        </tr>
                                        <tr>
                                            <td colspan="5" height="10" style="font-size:1px;line-height:1px">&nbsp;</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>

<div style="width:100%;height:15px;display:block" align="center">
    <div style="width:100%;max-width:600px;height:1px;border-top:1px solid #e0e0e0">
        &nbsp;
    </div>
</div>


<table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0" id="m_-652695588854552870backgroundTable">
    <tbody>
    <tr>
        <td>
            <table width="600" cellpadding="0" cellspacing="0" border="0" align="center">
                <tbody>
                <tr>
                    <td width="100%">
                        <table bgcolor="#ffffff" width="600" cellpadding="0" cellspacing="0" border="0" align="center">
                            <tbody>
                            <tr>
                                <td>
                                    <table width="560" align="center" cellpadding="0" cellspacing="0" border="0">
                                        <tbody>
                                        <tr>
                                            <td style="font-family:Helvetica,arial,sans-serif;font-size:11px;color:#747474;text-align:center;line-height:100%"><a href="https://shopee.co.id/docs/3612" style="text-decoration:none;color:#ff5722" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://shopee.co.id/docs/3612&amp;source=gmail&amp;ust=1698869492652000&amp;usg=AOvVaw1VpGylS2fmcfMADai_EHb2">Kebijakan Privasi</a> | <a href="https://shopee.co.id/docs/3001" style="text-decoration:none;color:#ff5722" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://shopee.co.id/docs/3001&amp;source=gmail&amp;ust=1698869492652000&amp;usg=AOvVaw2ajMCMgDTrW6ed9kHSEah3">Syarat Layanan</a></td>
                                        </tr>

                                        
                                        <tr>
                                            <td width="100%" height="10" style="font-size:1px;line-height:1px">&nbsp;</td>
                                        </tr>
                                        

                                        <tr>
                                            <td style="font-family:Helvetica,arial,sans-serif;font-size:11px;color:#747474;text-align:center;line-height:100%">Ini adalah <i>email</i> otomatis. Mohon untuk tidak membalas <i>email</i> ini.</td>
                                        </tr>
                                        <tr>
                                            <td style="font-family:Helvetica,arial,sans-serif;font-size:11px;color:#747474;text-align:center;line-height:100%">Tambahkan <a href="mailto:info@shopee.co.id" style="text-decoration:none;color:#ff5722" target="_blank">info@shopee.co.id</a> pada daftar kontak untuk memastikan <i>email</i> dari Shopee masuk ke <i>inbox</i>-mu.</td>
                                        </tr>

                                        
                                        <tr>
                                            <td width="100%" height="10" style="font-size:1px;line-height:1px">&nbsp;</td>
                                        </tr>
                                        

                                        <tr>
                                            <td style="font-family:Helvetica,arial,sans-serif;font-size:11px;color:#747474;text-align:center;line-height:100%">Pacific Century Place Lt. 26 SCBD Lot 10, Jl. Jendral Sudirman Kav 52-53 Jakarta Indonesia 12190</td>
                                        </tr>

                                        
                                        <tr>
                                            <td width="100%" height="40" style="font-size:1px;line-height:1px">&nbsp;</td>
                                        </tr>
                                        
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>

<div style="white-space:nowrap!important;line-height:0;color:#ffffff">
    - - - - - - - - - - - - - - - - - - - - - - - -  - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
</div>
<img width="1px" height="1px" alt="" src="https://ci3.googleusercontent.com/proxy/zeETNIPh87xeVN74EB2fYAmM94s_JmHwqCUTqB0n_PExgwlxJKO1bmW_yR636F5LHM9LdrajULIwG46_bEn8VFxZjZEcX-Fliq2cjEP2mzBiZxAmRm02iZLObbDaQ_PR37VePjvTBnoW9mI_K1F8Vn1TJ7U2l232rRJ7IabzQ3f5QSfo2IOve3Q1y7mj4IZ1QlrOydazTWUzlx6YY0l6TEtqsQELz9oS2gN1RRCP43Wf65pEgiWrMP0_IPi-IOiW5l7kMP-PX6gHa4XYdwEZEPMQXXIYoaDLWEj5hehQl3XNGrvNXAIDI7FciD3hoi6WuCyVzS4zST0UEj_gj-nMNS1iHhzHMZiQ02h_9ZVXT9uFBdhY17H_EnMspJoFt8HfinnIWVQfziL-mltX_MQJZgjUdaI=s0-d-e1-ft#https://email.mg.shopee.co.id/o/eJw8jdFuwyAMAL-meQOZQrD9wMckxFAvSZlgW9u_n9RJe77T3ZbErxjiJMlFdt5TdDDd0hauIotHR3OEnAsxIc-F4-oDspRJ_33gK89ALsZgZ28DI6MPiJGRgD3CJcBOwzxa36WbUc2hP2IcRk-RCO24tU-Rs616iM3tnHoqund9taowXwLUc9HjTZ7mHNXU5Usey8volvIHDhmZGvaMJdT1W-Hdn55myH2TnvRe2iXA38XmZnX7DQAA__-8BUpX" class="CToWUd" data-bit="iit" jslog="138226; u014N:xr6bB; 53:WzAsMl0."></div>